/* body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to top left, #2e86de, #feca57);
  background-image: url("/image/1.jpg");
  background-size: contain;
  background-repeat: round;
}
.clock-container {
  width: 300px;
  height: 120px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 48px;
  color: white;
} */
